#container {
    width: 100%;
    padding-top: 120px;

    background-image: url("images/bggradient.png");
    background-repeat: repeat-x;
    background-position: left top;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 10pt;
}

a {
    text-decoration: none;
}

#quoteBox {
    width: 60%;

    background-image: url("images/leftquote.png");
    background-repeat: no-repeat;
    background-position: left 4px;

    margin-left: auto;
    margin-right: auto;
}

#quoteBox blockquote {

    background-image: url("images/rightquote.png");
    background-repeat: no-repeat;
    background-position: right bottom;

    padding: 40px 24px;
    
    text-align: center;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 32pt;
}

#commentBy {
    width: 80%;
    margin-left: auto;
    padding-top: 12px;
    padding-right: 12px;

    text-align: right;
}

#commentAuthor {
    font-weight: bold;
}

#options {
    padding-top: 12px;
    width: 60%;
    margin: 0 auto;
}

#options a {
    display: block;

    padding-right: 12px;
    
    font-size: 10pt;
    text-align: right;
}

#permalink { 
    display: block;
    padding-top: 12px;
}

#about {
    padding-top: 36px;

    font-size: 9pt;
    text-align: center;
}

#social {
    margin: auto 0;
    padding-top: 18px;
    text-align: center;
}
