<!DOCTYPE HTML>
<html>
    <head>
        <title>Zen Of Youtube</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Become enlightened with the comments of the average youtube user" />
        <meta name="keywords" content="youtube,comments,insight,zen,random,popular" >
        
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main.css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>


        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "192db3f2-f453-4db0-b8a2-2e8a6d85a8a8"}); </script>
        
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33706012-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="container">
            <div id="quoteBox">
                <blockquote>{{comment_text}}</blockquote>
                <p id="commentBy">
                    - <span id="commentAuthor">{{comment_author}}</span>{{comment_context}} <a href="{{video_url}}">{{video_title}}</a>
                </p>
            </div>
            <div id="options">
                <a id="next" href="/">Next</a>
            </div>
            <div id="about">
                <p>
                    All quotations are randomly selected from <a href="http://www.youtube.com">YouTube</a>'s
                    current most popular videos.
                </p>
                <p>
                    None of the comments are edited by this site.
                </p>
                <a id="permalink" href="/permalink/{{video_id}}/{{comment_id}}">permalink</a>
            </div>
            <div id="social">
                <span class='st_facebook' displayText='Facebook'></span>
                <span class='st_twitter' displayText='Tweet'></span>
                <span class='st_googleplus' displayText='Google +'></span>
            </div>
        </div>
    </body>
</html>
