<!DOCTYPE HTML>
<html>
    <head>
        <title>Youtube Insight</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div id="container">
            <div id="quoteBox">
                <blockquote>{{comment_text}}</blockquote>
                <p id="commentBy">
                    <span id="commentAuthor">- {{comment_author}}</span>{{comment_context}} <a href="{{video_url}}">{{video_title}}</a>
                </p>
            </div>
        </div>
    </body>
</html>
